<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<form action="/question/add" method="post" th:object="${questionForm}">
    <p>
        <label>
            Title:
            <input type="text" th:field="*{title}">
        </label>

        <span th:if="${#fields.hasErrors('title')}"
              th:errors="*{title}"></span>
    </p>
    <p>
        <label>
            Question:
            <input type="text" th:field="*{body}">
        </label>

        <span th:if="${#fields.hasErrors('body')}"
              th:errors="*{body}"></span>
    </p>

    <input type="hidden"
           th:name="${_csrf.parameterName}"
           th:value="${_csrf.token}"
    />

    <p>
        <input type="submit">
    </p>
</form>
</body>
</html>