<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.5.3/css/bootstrap.css">
</head>
<body>
<div class="container">
    <h1 th:text="${title}"></h1>

    <div th:if="${!isLogged}">
        <a href="/login">Login</a>
        <a href="/registration/user">Registration</a>
    </div>

    <div th:if="${isLogged}">
        <form action="/user/logout" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <input type="submit" class="btn btn-link" value="Logout">
        </form>
    </div>

    <table class="table table-striped">
        <tbody th:if="${not questions.isEmpty()}">
        <th:block th:each="question : ${questions}">
            <tr>
                <td th:text="${question.title}"></td>
                <td><a th:href="@{/question/{questionId}(questionId = ${question.id})}">show</a></td>
            </tr>
        </th:block>
        </tbody>
        <tbody th:if="${questions.isEmpty()}">
        <tr>
            <td>No quetions found.</td>
        </tr>
        </tbody>
    </table>

    <a href="/question/add" th:if="${isLogged}">Add new question...</a>
</div>
</body>
</html>