<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.5.3/css/bootstrap.css">
</head>
<body>
<div class="container">
    <h1 th:text="${title}"></h1>

    <div th:if="${not isLogged}">
        <a href="/login">Login</a>
        <!--    <a href="/register">Register</a>-->
    </div>

    <table class="table table-striped">
        <tbody th:if="${not questions.isEmpty()}">
        <th:block th:each="question : ${questions}">
            <tr>
                <td th:text="${question.title}"></td>
                <td><a th:href="@{/question/{questionId}(questionId = ${question.id})}">show</a></td>
            </tr>
        </th:block>
        </tbody>
        <tbody th:if="${questions.isEmpty()}">
        <tr>
            <td>No quetions found.</td>
        </tr>
        </tbody>
    </table>
    <form action="/add" method="post" th:if="${isAdmin}">
        <fieldset>
            <div class="form-group">
                <label class="control-label" for="title">Title</label>
                <input type="text" class="form-control input-xlarge" id="title" name="title">
            </div>

            <div class="form-group">
                <label class="control-label" for="body">Text</label>
                <input type="text" class="form-control input-xlarge" id="body" name="body">
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
        </fieldset>
    </form>
</div>
</body>
</html>