<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.5.3/css/bootstrap.css">
</head>
<body>
<div class="container" th:object="${registrationForm}">
<div class="row">
    <div class="col"></div>
    <div class="col">
        <h3>Registration</h3>
    </div>
    <div class="col"></div>
</div>
<div class="row" th:if="${#fields.hasErrors()}">
    <div class="col"></div>
    <div class="col alert alert-danger">
        Invalid username or password
    </div>
    <div class="col"></div>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col">
        <form action="/registration/user" method="post">
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="login">User name</label>
                    <input type="text" class="form-control input-xlarge" th:field="*{login}" id="login" name="login">
                </div>

                <div class="form-group">
                    <label class="control-label" for="password">Password</label>
                    <input type="passPhrase" class="form-control input-xlarge" th:field="*{password}" id="password" name="password">
                </div>

                <div class="form-group">
                    <label class="control-label" for="confirmation">Confirm</label>
                    <input type="passPhrase" class="form-control input-xlarge" th:field="*{confirmation}" id="confirmation" name="confirmation">
                </div>

                <input type="hidden"
                       th:name="${_csrf.parameterName}"
                       th:value="${_csrf.token}"
                />

                <button type="submit" class="btn btn-primary">Create new account</button>
                <a href="/login" class="btn btn-outline-secondary">Login</a>
            </fieldset>
        </form>
    </div>
    <div class="col"></div>
</div>
</div>
</body>
</html>